{% if not skipHtml|default(false) %}
    {{ mapHtml|raw }}
{% endif %}

{% if not skipCss|default(false) %}
    {{ mapCss|raw }}
{% endif %}

{% if not skipJs|default(false) %}
    {{ mapJs|raw }}
{% endif %}

{{ mapApi|raw }}

{% if mapConfig.staticMapNoscript|default() %}
    <noscript>
        <p>
            <img src="{{ staticMapUrl }}" alt="">
        </p>
    </noscript>
{% endif %}