{% if addHtml|default() %}
    {{ mapHtml|raw }}
{% endif %}

{% if addCss|default() %}
    {{ mapCss|raw }}
{% endif %}

{% if addJs|default() %}
    {{ mapJs|raw }}
{% endif %}

{{ mapApi|raw }}

{% if mapConfig.staticMapNoscript|default() %}
    <noscript>
        <p>
            <img src="{{ staticMapUrl }}" alt="">
        </p>
    </noscript>
{% endif %}